<section class="section">
  <div class="container">
    <h1 class="title">Termini probnih prijemnih ispita</h1>

    <div class="columns">
      @for (event of examEvents; track event.id) {
        <div class="column is-one-third">
          <div class="box">
            <h2 class="subtitle">{{ event.examEventName }}</h2>
            <p class="my-1"><strong>Oblast:</strong> {{ event.typeName }}</p>
            <p class="my-1"><strong>Datum održavanja:</strong> {{ event.maintenanceDate }}</p>
            <p class="my-1"><strong>Broj prijavljenih kandidata:</strong> {{ event.numberOfApplicants }} </p>
            <a class="button is-link is-outlined my-3" [href]="'/exam-events/' + event.id">Detalji</a>
          </div>
        </div>
      } @empty {
        <div class="notification is-warning">
          <strong>Trenutno nema dostupnih termina.</strong>
          <p>Molimo da proverite kasnije za nadolazeće događaje.</p>
        </div>
      }
    </div>
  </div>
</section>
