<section class="section">
  <div class="container">
    @if (userNotFound) {
      <div class="notification has-text-danger has-text-centered">
        <h1 class="title my-3">400 - Kandidat nije pronađen</h1>
        <p class="subtitle my-3">Kandidat kom ste pokušali da pristupite ne postoji. Molimo vas
          da proverite URL ili pokušate ponovo kasnije.</p>
        <a class="button is-link is-outlined is-medium mx-2" routerLink="/">Home</a>
      </div>
    } @else {
      <h1 class="title">Detalji kandidata</h1>

      <hr>

      @if (userDetail) {
        <h2 class="subtitle">{{ userDetail.firstName }} ({{ userDetail.middleName }}) {{ userDetail.lastName }}</h2>
        <p class="my-1"><strong>Email:</strong> {{ userDetail.email }}</p>
        <p class="my-1"><strong>Ukupna cena prijava:</strong> {{ userDetail.price }} RSD</p>

        <hr>

        <h3 class="subtitle is-4">Prijave za ispitne termine:</h3>
        <div class="columns is-multiline">
          @for (application of userDetail.applicationForms; track application.applicationNumber) {
            <div class="column is-one-third">
              <div class="box">
                <h2 class="subtitle">{{ application.examEvent.examEventName }}</h2>
                <p><strong>Oblast:</strong> {{ application.examEvent.typeName }}</p>
                <p><strong>Datum održavanja:</strong> {{ application.examEvent.maintenanceDate }}</p>
                <p><strong>Broj prijave:</strong> {{ application.applicationNumber }}</p>
                <a class="button is-link is-outlined my-3" [href]="'/exam-events/' + application.examEvent.id">
                  Detalji
                </a>
              </div>
            </div>
          } @empty {
            <div class="notification is-warning">
              <strong>Kandidat trenutno nije prijavljen ni na jedan termin.</strong>
              <p>Molimo da proverite kasnije.</p>
            </div>
          }
        </div>
      } @else {
        <div class="notification is-warning">
          <strong>Podaci nisu dostupni.</strong>
          <p>Molimo da proverite kasnije.</p>
        </div>
      }
    }
  </div>
</section>
